.comment-container {
  padding: 18px 0;
}

.comment-container-bottom {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.comment-main {
  padding: 0 18px;
  border: 2px solid rgba(5, 5, 5, 0.06);
  border-radius: 15px;
}

.comment-middle {
  margin-left: 30px;
}
